/***
 NOTA: He usado la característica de la "anidación" en CSS disponible desde Diciembre 2023
 para una mejor organización del código 
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_nesting/Using_CSS_nesting
 */

/* VARIABLES */
:root {
  --color-enlaces-hover: rgba(0, 0, 0, 0.5);
  --color-primario: #000000;
  --color-secundario: #FFFFFF;
  --color-contraste: #DE2333;
  --color-gris: #F4F6F7;
}

/* RESETEO */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CLASES GENÉRICAS */
.ancho-contenido {
  width: 70%;
  margin: 0 auto;
}

/* ETIQUETAS GENÉRICAS */
/* Quitar border al iframe, frameborder="0" esta obsoleto */
iframe {
  border: none;
}

html,
body {
  font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
  color: var(--color-primario);
}

header,
main,
footer {
  width: 100%;
}

/* HEADER */
header {
  #contenido-header {
    a {
      text-decoration: none;
      color: var(--color-primario);
    }

    h1 {
      margin: 0.25em 0 0;
      font-weight: 500;
      font-size: 3.5rem;

      span {
        letter-spacing: -0.10em;
        font-weight: 400;
      }
    }
  }
}

/* MENU */
nav#menu-principal {
  position: sticky;
  width: 100%;
  padding: 1em 0 1em;
  margin: 0 auto;
  background-color: var(--color-secundario);
  font-size: 1rem;
  /* border-bottom: 5px solid rgba(0, 0, 0, 0.014); */
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.02); */

  top: 0;
  z-index: 10;

  &.sombra-abajo {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.02);
  }

  #contenido-nav {
    ul {
      display: flex;
      gap: 1.5em;
      list-style-type: none;

      li {
        font-weight: 700;

        a {
          text-decoration: none;
          color: var(--color-primario);

          &.active {
            color: var(--color-contraste);
          }

          &:hover {
            color: var(--color-enlaces-hover);
          }
        }
      }
    }
  }
}

/* SECCION HERO */
section#hero {
  background-image: url('../img/bg-hero-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  #titulo-hero {
    max-width: var(--ancho-contenido);
    margin: 0 auto;
    padding: 8em;

    h2 {
      font-size: 4rem;
      line-height: 1em;
      font-weight: 400;
      color: var(--color-secundario);
      text-align: center;
    }
  }
}

/* SECCIÓN INICIO */
section#inicio {
  h3 {
    text-align: center;
    margin-bottom: 0.75em;
    margin-top: 1em;
    font-size: 2rem;
  }

  p {
    margin-bottom: 1em;

    span {
      font-weight: bold;
    }
  }

  #mision {
    max-width: 70%;
    margin: 0 7em;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 auto;
  }

  #contenedor-noticias {
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }

    #noticias {
      display: flex;
      gap: 3em;

      .noticia {
        /* Mismo tamaño para todos los elementos flex */
        flex: 1;

        img {
          max-width: 100%;
        }

        h4 {
          font-size: 1.25rem;
          color: var(--color-contraste);
          margin-bottom: 0.75em;
        }

        p {
          font-size: 1rem;
          font-weight: 300;
        }

        figure {
          margin-bottom: 1em;

          figcaption {
            font-size: 1.15rem;
            font-weight: 300;
            margin-top: 1em;
          }
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: var(--color-contraste);
          font-weight: 500;
          font-size: 0.75rem;

          &:hover {
            color: var(--color-primario);
          }

          &::before {
            content: ">";
            margin-right: 0.4em;
          }
        }

      }
    }
  }
}

/* SECCIÓN APLICACIONES */
section#aplicaciones {
  h3 {
    text-align: center;
    margin-bottom: 0.75em;
    margin-top: 1em;
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 1em;
  }

  a {
    color: var(--color-contraste);
    text-decoration: none;
  }

  #contenedor-aplicaciones {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 4em;

    .aplicacion {
      padding: 2em;
      background-color: var(--color-gris);

      h4 {
        font-size: 1.75rem;
        margin-bottom: 1em;
      }

      /* ENLACES ***DENTRO*** DE LOS PARRAFOS */
      p a {
        &:hover {
          color: var(--color-primario);
          text-decoration: underline;
        }
      }

    }

    /* ENLACES ***SOLO LOS HIJOS DIRECTOS*** -> "SITIO OFICIAL DE..." */
    .aplicacion>a {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 600;

      &:hover {
        color: var(--color-primario);
      }
    }
  }
}

/* SECCIÓN "EN EL CINE" */
section#en-el-cine {
  cite {
    font-style: italic;
    font-weight: 700;
  }

  h3 {
    text-align: center;
    margin-bottom: 0.75em;
    margin-top: 1em;
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 1em;
  }

  #contenedor-peliculas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    .pelicula {
      padding: 0em;
      margin-bottom: 1em;

      h4 {
        font-size: 1.75rem;
        margin-bottom: 1em;
      }

      iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
      }

      figcaption {
        background-color: rgb(250, 244, 236);
        padding: 1em;
        font-size: small;
      }
    }
  }
}


/* BREADCRUMS (RUTA DE NAVEGACIÓN */
nav#breadcrumb {
  font-size: 0.75rem;
  margin-top: 2em;

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: end;
  }

  li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: ">";
  }

  a {
    text-decoration: none;
  }

  span {
    color: var(--color-contraste);
  }
}

/* SECCIÓN "DESPACHO 42" */
section#despacho-42 {
  h2 {
    text-align: left;
    margin-bottom: 0.75em;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5em;
  }

  .contenido-principal {
    display: flex;
    gap: 4em;
    flex-direction: row;
    margin-top: 3em;

    #contenido-izquierda {
      width: 100%;

      h2 {
        margin-top: 1em;
      }

      /* Inline quotes */
      q {
        font-style: normal;
      }

      q::before{
        content: "«";
      }

      q::after{
        content: "»";
      }
      
      a {
        text-decoration: none;
        color: var(--color-contraste);

        &:hover {
          color: var(--color-primario);
        }
      }

      p a {
        color: var(--color-contraste);
        text-decoration: none;
        font-weight: 700;
        font-style: italic;

        &:hover {
          color: var(--color-primario);
          text-decoration: underline;
        }
      }

      figure {
        img {
          width: 100%;
        }

        figcaption {
          font-size: 0.75rem;
          margin-top: 1em;

          span:not(:last-of-type)::after {
            content: "|";
            margin: 0 0.75em;
          }
        }
      }

      #que-es-despacho-42 {
        margin-top: 2.5em;
        display: flex;
        gap: 2em;
        padding: 2em;
        background-color: var(--color-gris);

        img {
          height: 4em;
          border-radius: 1em;
        }

        #descripcion {
          h2 {
            margin-top: 0;
          }

          h3 {
            margin-bottom: 0.5em;
          }

          ul {
            list-style-type: none;
          }
        }
      }

      #pie-articulo {
        color: var(--color-contraste);
        font-style: italic;
        font-size: small;
        font-weight: 500;
      }

      #contenedor-formulario {
        p {
          font-size: small;
        }

        form {
          margin-bottom: 5em;
          font-family: 'Source Sans 3';

          textarea,
          label,
          input:not([type="checkbox"], [type="submit"]) {
            display: block;
            width: 100%;
            margin-bottom: 1em;
            color: var(--color-primario);
          }

          label {
            color: var(--color-primario);
            margin-bottom: 0;
          }

          label:last-of-type {
            display: inline;
            color: var(--color-primario);
          }

          textarea,
          input[type="text"],
          input[type="email"] {
            background-color: var(--color-gris);
            border: none;
            padding: 1em;
            font-size: 1rem;
          }

          input[type="text"],
          input[type="email"] {
            height: 3em;
          }

          textarea {
            height: 10em;
          }

          input[type="submit"] {
            display: block;
            text-transform: uppercase;
            padding: 0.25em 0.5em;
            background-color: var(--color-contraste);
            border: none;
            color: white;
            font-weight: 500;
            font-size: 1.15rem;
            margin-top: 1em;
            cursor: pointer;
            font-family: 'Source Sans 3';

            &:hover {
              background-color: var(--color-primario);
            }
          }
        }
      }
    }

    #contenido-derecha {
      /* max-width: 50%; */

      .articulo-reciente {
        display: flex;
        border-bottom: 1px solid lightgrey;
        padding: 1em 1em 1em 0;

        a {
          text-decoration: none;
          color: var(--color-primario);

          &:hover {
            color: var(--color-contraste);
          }
        }

        p {
          text-transform: uppercase;
        }

        img {
          border-radius: 50%;
          margin-right: 1em;
          width: 4em;
          height: 4em;
        }
      }
    }

  }


  #contenedor-peliculas {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    .pelicula {
      padding: 0em;
      margin-bottom: 1em;
      /* width: 100%; */

      h4 {
        font-size: 1.75rem;
        margin-bottom: 1em;
      }

      iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        /* height: 200px; */
        /* max-width: fit-content; */
      }

      figcaption {
        background-color: var(--color-gris);
        padding: 1em;
        font-size: small;
      }
    }
  }
}

/* FOOTER */
footer {
  background-color: var(--color-primario);
  padding: 3em 0;
  margin-top: 5em;

  #contenido-footer {
    color: var(--color-secundario);

    #menu-footer {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        a {
          color: var(--color-secundario);
          font-size: 0.85rem;
          text-decoration: none;

          &:hover {
            color: var(--color-contraste);
          }
        }

        li:not(:last-of-type)::after {
          content: "·";
          margin: 0 0.5em 0 0.6em;
        }
      }
    }

    #contenedor-iconos-footer {
      margin: 0.5em 0 1em;

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;

        li {
          img {
            width: 1.5em;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    p {
      font-size: 0.85rem;
    }
  }
}

/***************************************************************************************************************************************
 TABLETAS
 ***************************************************************************************************************************************/

@media (max-width: 768px) {
  .ancho-contenido {
    width: 90%;
  }

  header {
    text-align: center;

    #contenido-header {
      h1 {
        font-size: 3rem;
      }
    }
  }

  /* MENU */
  nav#menu-principal {
    margin-bottom: 1em;
    padding-bottom: 1.5em;

    #contenido-nav {
      font-size: 0.85rem;

      ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
      }
    }
  }

  /* SECCION HERO */
  section#hero {
    background-image: url('../img/bg-hero-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    #titulo-hero {
      margin: 0 auto;
      padding: 6em 0;

      h2 {
        font-size: 3rem;
        line-height: 1.5em;
        font-weight: 500;
      }
    }
  }

  /* SECCIÓN INICIO */
  section#inicio {
    h3 {
      text-align: center;
      margin-bottom: 0.75em;
      margin-top: 1em;
      font-size: 2rem;
    }

    p {
      margin-bottom: 1em;

      span {
        font-weight: bold;
      }
    }

    #mision {
      max-width: 100%;
      margin: 0 1em;
      font-size: 1.5rem;
      font-weight: 300;
    }

    #contenedor-noticias {
      h3 {
        font-size: 2rem;
        font-weight: 700;
      }

      #noticias {
        display: flex;
        gap: 1.25em;
        margin: 0 2.25em;

        .noticia {
          flex: 1;

          img {
            max-width: 100%;
          }

          h4 {
            font-size: 1.40rem;
            color: var(--color-contraste);
          }

          p {
            margin-top: 1em;
            font-size: 1.10rem;
            font-weight: 300;
          }

          figure {
            margin-bottom: 1em;

            figcaption {
              font-size: 1.15rem;
              font-weight: 300;
              margin-top: 1em;
            }
          }

          a {
            font-size: 0.85rem;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-contraste);
            font-weight: 500;
          }
        }
      }
    }
  }

  /* SECCIÓN APLICACIONES */
  section#aplicaciones {
    h3 {
      text-align: center;
      margin-bottom: 0.75em;
      margin-top: 1em;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.85rem;
      margin-bottom: 1em;
    }

    a {
      color: var(--color-contraste);
      text-decoration: none;
    }

    #contenedor-aplicaciones {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;

      .aplicacion {
        padding: 1.5em;
        background-color: var(--color-gris);

        h4 {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        /* ENLACES ***DENTRO*** DE LOS PARRAFOS */
        p a {
          &:hover {
            color: var(--color-primario);
            text-decoration: underline;
          }
        }

      }

      /* ENLACES ***SOLO LOS HIJOS DIRECTOS*** -> "SITIO OFICIAL DE..." */
      .aplicacion>a {
        text-transform: uppercase;
        font-size: 0.65rem;
        font-weight: 600;

        &:hover {
          color: var(--color-primario);
        }
      }
    }
  }

  /* SECCIÓN "EN EL CINE" */
  section#en-el-cine {
    h3 {
      text-align: center;
      margin-bottom: 0.75em;
      margin-top: 1em;
      font-size: 1.5rem;
    }

    p {
      margin-bottom: 1em;
    }

    #contenedor-peliculas {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .pelicula {
        padding: 0em;
        margin-bottom: 1em;

        h4 {
          font-size: 1.75rem;
          margin-bottom: 1em;
        }

        iframe {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          /* height: 200px; */
          /* max-width: fit-content; */
        }

        figcaption {
          background-color: rgb(250, 244, 236);
          padding: 1em;
          font-size: small;
        }
      }
    }
  }

  /* SECCIÓN "DESPACHO 42" */
  section#despacho-42 {
    h2 {
      text-align: left;
      margin-bottom: 0.75em;
      font-size: 1.5rem;
      line-height: 1em;
    }

    h3 {
      font-size: 1rem;
      line-height: 1.25em;
      margin-bottom: 1em;
    }

    h4 {
      font-size: 1rem;
      letter-spacing: 0.05rem;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1em;
      line-height: 1.5em;
      font-size: 0.85rem;
    }

    .contenido-principal {
      display: flex;
      gap: 0;
      flex-direction: column;
      margin-top: 3em;

      #contenido-izquierda {
        width: 100%;

        h2 {
          margin-top: 1em;
        }

        figure {
          img {
            width: 100%;
          }

          figcaption {
            font-size: 0.75rem;
            margin-top: 1em;

            span:not(:last-of-type)::after {
              content: "|";
              margin: 0 0.75em;
            }
          }
        }

        #que-es-despacho-42 {
          margin-top: 2.5em;
          display: flex;
          gap: 2em;
          padding: 2em;
          background-color: var(--color-gris);

          img {
            height: 4em;
            border-radius: 1em;
          }

          #descripcion {
            h2 {
              margin-top: 0;
            }

            h3 {
              margin-bottom: 0.5em;
            }

            ul {
              list-style-type: none;

              a {
                text-decoration: none;
                color: var(--color-contraste);

                &:hover {
                  color: var(--color-primario);
                }
              }
            }
          }
        }

        #pie-articulo {
          color: var(--color-contraste);
          font-style: italic;
          font-size: small;
          font-weight: 500;
        }

        #contenedor-formulario {
          p {
            font-size: small;
          }

          form {
            margin-bottom: 0;
            font-family: 'Source Sans 3';

            textarea,
            label,
            input:not([type="checkbox"], [type="submit"]) {
              display: block;
              width: 100%;
              margin-bottom: 1em;
              color: var(--color-primario);
            }

            label {
              color: var(--color-primario);
              margin-bottom: 0;
            }

            label:last-of-type {
              display: inline;
              color: var(--color-primario);
            }

            textarea,
            input[type="text"],
            input[type="email"] {
              background-color: var(--color-gris);
              border: none;
              padding: 1em;
              font-size: 1rem;
            }

            input[type="text"],
            input[type="email"] {
              height: 2.5em;
            }

            textarea {
              height: 7em;
            }

            a {
              text-decoration: none;
              color: var(--color-contraste);

              &:hover {
                color: var(--color-primario);
              }
            }

            input[type="submit"] {
              display: block;
              text-transform: uppercase;
              padding: 0.25em 0.5em;
              background-color: var(--color-contraste);
              border: none;
              color: white;
              font-weight: 500;
              font-size: 0.85rem;
              margin-top: 1em;
              cursor: pointer;
              font-family: 'Source Sans 3';

              &:hover {
                background-color: var(--color-primario);
              }
            }
          }
        }
      }

      #contenido-derecha {
        width: 70%;
        margin: 2.5em auto 0;

        .articulo-reciente {
          font-size: 0.70rem;
          /* text-align: justify; */
          display: flex;
          border-bottom: 1px solid lightgrey;
          padding: 1em 1em 1em 0;

          p {
            text-transform: uppercase;
            line-height: 1em;
          }

          img {
            border-radius: 50%;
            margin-right: 1em;
            width: 8em;
            height: 8em;
          }
        }
      }
    }

    #contenedor-peliculas {
      display: grid;
      /* grid-template-columns: repeat(2, minmax(200px, 1fr)); */
      grid-template-columns: 1fr 1fr;
      gap: 1em;

      .pelicula {
        padding: 0em;
        margin-bottom: 1em;
        /* width: 100%; */

        h4 {
          font-size: 1.75rem;
          margin-bottom: 1em;
        }

        iframe {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          /* height: 200px; */
          /* max-width: fit-content; */
        }

        figcaption {
          background-color: var(--color-gris);
          padding: 1em;
          font-size: small;
        }
      }
    }
  }

  /* FOOTER */
  footer {
    background-color: var(--color-primario);
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;

    #contenido-footer {
      margin: 0 auto;
      color: var(--color-secundario);

      #menu-footer {
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;

          a {
            color: var(--color-secundario);
            font-size: 0.85rem;
            text-decoration: none;

            &:hover {
              color: var(--color-contraste);
            }
          }

          li:not(:last-of-type)::after {
            content: none;
            margin: 0 0.5em 0 0.6em;
          }
        }
      }

      a {
        display: block;
        color: var(--color-secundario);
        font-size: 1.25rem;
        text-decoration: none;
      }

      a:nth-of-type(1) {
        margin-left: 0;
      }

      a:not(:last-of-type)::after {
        content: none;
      }

      #contenedor-iconos-footer {
        margin: 0 auto;
        display: flex;
        margin-top: 1em;
        margin-bottom: 1em;
        justify-content: center;

        img {
          width: 2em;
        }
      }
    }
  }
}

/***************************************************************************************************************************************
 MÓVILES
 ***************************************************************************************************************************************/

@media (max-width: 480px) {
  .ancho-contenido {
    width: 90%;
  }

  header {
    text-align: center;

    #contenido-header {
      h1 {
        font-size: 3rem;
      }
    }
  }

  /* MENU */
  nav#menu-principal {
    margin-bottom: 1em;

    #contenido-nav {
      font-size: 0.85rem;

      ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
      }
    }
  }

  /* SECCION HERO */
  section#hero {
    background-image: url('../img/bg-hero-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    #titulo-hero {
      margin: 0 auto;
      padding: 6em 0;

      h2 {
        font-size: 1.75rem;
        line-height: 1.5em;
        font-weight: 500;
      }
    }
  }

  /* SECCIÓN INICIO */
  section#inicio {
    h3 {
      text-align: center;
      margin-bottom: 0.75em;
      margin-top: 1em;
      font-size: 1.75rem;
    }

    p {
      margin-bottom: 1em;

      span {
        font-weight: bold;
      }
    }

    #mision {
      max-width: 100%;
      margin: 0 1em;
      font-size: 1rem;
      font-weight: 300;
    }

    #contenedor-noticias {
      h3 {
        font-size: 1.75rem;
        font-weight: 700;
      }

      #noticias {
        display: flex;
        flex-direction: column;
        gap: 2.75em;
        margin: 0 2.25em;

        .noticia {
          flex: 1;

          img {
            max-width: 100%;
          }

          h4 {
            font-size: 1.40rem;
            color: var(--color-contraste);
          }

          p {
            margin-top: 1em;
            font-size: 1rem;
            font-weight: 300;
          }

          figure {
            margin-bottom: 1em;

            figcaption {
              font-size: 1.15rem;
              font-weight: 300;
              margin-top: 1em;
            }
          }

          a {
            font-size: 0.85rem;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-contraste);
            font-weight: 500;
          }
        }
      }
    }
  }

  /* SECCIÓN APLICACIONES */
  section#aplicaciones {
    h3 {
      text-align: center;
      margin-bottom: 0.75em;
      margin-top: 1em;
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1em;
    }

    a {
      color: var(--color-contraste);
      text-decoration: none;
    }

    #contenedor-aplicaciones {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .aplicacion {
        padding: 1.5em;
        background-color: var(--color-gris);

        h4 {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        /* ENLACES ***DENTRO*** DE LOS PARRAFOS */
        p a {
          &:hover {
            color: var(--color-primario);
            text-decoration: underline;
          }
        }
      }

      /* ENLACES ***SOLO LOS HIJOS DIRECTOS*** -> "SITIO OFICIAL DE..." */
      .aplicacion>a {
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 600;

        &:hover {
          color: var(--color-primario);
        }
      }
    }
  }

  /* FOOTER */
  footer {
    background-color: var(--color-primario);
    padding: 3em 0;
    margin-top: 1.5em;
    text-align: center;

    #contenido-footer {
      margin: 0 auto;
      color: var(--color-secundario);

      a {
        display: block;
        color: var(--color-secundario);
        font-size: 1.25rem;
        text-decoration: none;
      }

      a:nth-of-type(1) {
        margin-left: 0;
      }

      a:not(:last-of-type)::after {
        content: none;
      }

      #contenedor-iconos-footer {
        margin: 0.5em 0 2em;

        img {
          width: 2em;
        }
      }
    }
  }
}